.App { 
  font-family: 'Teko', serif;
  color: #61bb61;
}

.App-header {
  box-sizing: border-box;
  text-align: center;
  border: 0.1rem solid #61bb61;
  margin: 0.5rem;
}

h1 {
  font-size: 5rem;
}

h2{
  font-size: 2rem;
}

.Bio {
  padding: 0.3rem;
  margin: 1rem;
  display: flex;
  justify-content: end;
  font-size: 1.2rem;
}
